<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="whill_facility" id="whill_facility">
			<module before="Magento_Backend" name="Whill_Facility"/>
		</route>
	</router>
</config>
