<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Whill\Facility\Api\FacilityRepositoryInterface" type="Whill\Facility\Model\FacilityRepository"/>
	<preference for="Whill\Facility\Api\Data\FacilityInterface" type="Whill\Facility\Model\Facility"/>
	<preference for="Whill\Facility\Api\Data\FacilitySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Whill\Facility\Model\ResourceModel\Facility\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">whill_facility_facility</argument>
			<argument name="resourceModel" xsi:type="string">Whill\Facility\Model\ResourceModel\Facility\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="whill_facility_facility_listing_data_source" xsi:type="string">Whill\Facility\Model\ResourceModel\Facility\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
